* {
  box-sizing:border-box;
}
html {
  height:100%;
  overflow-y: hidden;
  background-color: #EEE;
}
body {
  font-family: sans-serif;
  height:100%;
  margin:0px;
  user-select: none;
}



/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3e6b01 #ccc;
  box-sizing:border-box;

}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ccc;
}

*::-webkit-scrollbar-thumb {
  background-color: #3e6b01;
  border-radius: 20px;
  border: 3px solid #ccc;
}