# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Code files
[*.{ts,tsx}]
indent_style = space
indent_size = 2
max_line_length = 120

# Markdown and JSON files
[*.{md,json}]
indent_style = space
indent_size = 2

# CSS files
[*.css]
indent_style = space
indent_size = 2
