
.mobileTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.mobileTable caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.mobileTable tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.mobileTable th,
.mobileTable td {
    padding: .625em;
    text-align: center;
}

.mobileTable th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}


@media screen and (max-width: 600px) {
    .mobileTable {
        border: 0;
    }

    .mobileTable caption {
        font-size: 1.3em;
    }

    .mobileTable thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .mobileTable tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .mobileTable td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .mobileTable td::before {
        /*
        * aria-label has no advantage, it won't be read inside a .mobileTable
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .mobileTable td:last-child {
        border-bottom: 0;
    }
}

